{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>My rents</h1>
        {% for rent in object_list %}
            {{ rent.date_from|date }} - {{ rent.date_to|date }}<br/>
            {% for game in rent.games.all %}
                {{ game.game_group }},
            {% endfor %}
            <br/>
            {{ rent.status }}<br/>
            <a href="{% url "rent:details" rent.pk %}">Details</a>
            <hr/>
        {% empty %}
            No rents yet.
        {% endfor %}
{% endblock %}