{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
    {% if wizard.steps.step1 == 1 %}
        {% trans "Pick dates..." %}
    {% elif wizard.steps.step1 == 2 %}
        {% trans "Pick games..." %}
    {% endif %}
    <form action="" method="post">{% csrf_token %}
        <table>
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form|crispy }}
                {% endfor %}
            {% else %}
                {{ wizard.form|crispy }}
            {% endif %}
        </table>
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "Different date" %}</button>
        {% endif %}
        {% if wizard.steps.step1 == 3 %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Different games" %}</button>
        {% endif %}
        <input type="submit" value="{% trans "Submit" %}"/>
    </form>
{% endblock %}