{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
    <h1>{% trans 'Renting' %}</h1>

    {% if wizard.steps.step1 == 1 %}
        <p>{% trans "Pick dates..." %}</p>
    {% elif wizard.steps.step1 == 2 %}
        <p>{% trans "Pick games..." %}</p>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
        {% if wizard.steps.step1 == 2 %}
            <button name="wizard_goto_step" type="submit" class="btn btn-warning" value="{{ wizard.steps.first }}">{% trans "Different date" %}</button>
            <input type="submit" class="btn btn-primary" value="{% trans "Next" %}"/>
            <br/><br/>
        {% endif %}
        <table>
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form|crispy }}
                {% endfor %}
            {% else %}
                {{ wizard.form|crispy }}
            {% endif %}
            <br/>
        </table>
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" class="btn btn-warning" value="{{ wizard.steps.first }}">{% trans "Different date" %}</button>
        {% endif %}
        {% if wizard.steps.step1 == 3 %}
            <button name="wizard_goto_step" type="submit" class="btn btn-warning" value="{{ wizard.steps.prev }}">{% trans "Different games" %}</button>
            <input type="submit" class="btn btn-primary" value="{% trans "Finish" %}"/>
        {% else %}
            <input type="submit" class="btn btn-primary" value="{% trans "Next" %}"/>
        {% endif %}
    </form>

    {% if wizard.steps.step1 == 3 %}
        <br/><a target="_blank" href="{% url 'rent:rules' %}">{% trans "Rent rules" %}</a>
    {% endif %}
{% endblock %}