{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
    <h1>{% trans 'Renting' %}</h1>

    {% if wizard.steps.step1 == 1 %}
        <p>{% trans "Pick dates..."|linebreaks %}</p>
    {% elif wizard.steps.step1 == 2 %}
        <p>{% trans "Pick games..."|linebreaks %}</p>
    {% else %}
        <h3>{% trans 'Rented games' %}:</h3>
        {% if form.game_groups.value %}
            <ul>
            {% for gg in form.game_groups.value  %}
                <li>
                    {{ gg.name }}
                    {%  if gg.base_game and not gg.base_game in form.game_groups.value %}
                        <span class="text-danger">{% trans "Can't be palyed without" %} {{ gg.base_game }}</span>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            {% trans 'No games rented.' %}
        {% endif %}
    {% endif %}
    <form action="" method="post">{% csrf_token %}
        {% if wizard.steps.step1 == 2 %}
            <button name="wizard_goto_step" type="submit" class="btn btn-warning" value="{{ wizard.steps.first }}">{% trans "Different date" %}</button>
            <input type="submit" class="btn btn-primary" value="{% trans "Next" %}"/>
            <br/><br/>
        {% endif %}
        <table>
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form|crispy }}
                {% endfor %}
            {% else %}
                {{ wizard.form|crispy }}
            {% endif %}
        </table>
        <br/>
        {% if wizard.steps.step1 == 3 %}
            {% if perms.rent.manage_rents %}
                <p class="text-success">{% trans "Email notification won't be sent." %}</p>
            {% endif %}
            <a target="_blank" href="{% url 'rent:rules' %}">{% trans "Rent rules" %}</a><br/><br/>
        {% endif %}
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" class="btn btn-warning" value="{{ wizard.steps.first }}">{% trans "Different date" %}</button>
        {% endif %}
        {% if wizard.steps.step1 == 3 %}
            <button name="wizard_goto_step" type="submit" class="btn btn-warning" value="{{ wizard.steps.prev }}">{% trans "Different games" %}</button>
            <input type="submit" class="btn btn-primary" value="{% trans "Finish" %}"/>
        {% else %}
            <input type="submit" class="btn btn-primary" value="{% trans "Next" %}"/>
        {% endif %}
    </form>
{% endblock %}