{% load i18n %}
{% load crispy_forms_tags %}



{% if perms.rent.manage_rents %}
    <form action="{% url 'rent:add-game' object.pk %}" method="post">
        {% csrf_token %}
        {{ add_game_form|crispy }}
        <br/>
        <input type="submit" value="{% trans "Add" %}" class="btn btn-primary" />
    </form>

    <br/>

    <h3>{% trans 'Edit rent' %}:</h3>
    <form action="{% url 'rent:edit' object.pk %}" method="post">
        {% csrf_token %}
        {{ rent_form|crispy }}
        <br/>
        <input type="submit" value="{% trans "Save" %}" class="btn btn-success" />
    </form>

    <h3>{% trans 'History' %}</h3>
    {% for a in object.histories.all %}
        {{ a.created }}. {{ a.user.full_name2 }} -> {{ a.get_new_status_display }}<br/>
    {% empty %}
        {% trans 'No histories.' %}
    {% endfor %}
{% endif %}