{% load i18n %}
{% load crispy_forms_tags %}


{% if perms.rent.manage_rents %}
    {% if object.games.all %}
        <table class="table table-hover table-condensed">
            <tr>
                <th>{% trans 'Game' %}</th>
                <th>{% trans 'Notes' %}</th>
                <th>{% trans 'Place' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
            {% for game in object.games.all %}
                <tr>
                    <td>{{ game.game_group }}</td>
                    <td>{{ game.notes|default:'-' }}</td>
                    <td>{{ game.place }}</td>
                    <td>
                      <a class="btn btn-info" href="{% url 'inventory:gamepiece' game.pk %}">{% trans 'Inventory' %}</a>
                      <a class="btn btn-danger" href="{% url 'rent:remove-game' object.pk game.pk %}">{% trans 'Delete' %}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        {% trans 'No games rented.' %}
    {% endif %}

    <form action="{% url 'rent:add-game' object.pk %}" method="post">
        {% csrf_token %}
        {{ add_game_form|crispy }}
        <br/>
        <input type="submit" value="{% trans "Add" %}" class="btn btn-primary" />
    </form>

    <br/>

    <h3>{% trans 'Edit rent' %}:</h3>
    <form action="{% url 'rent:edit' object.pk %}" method="post">
        {% csrf_token %}
        {{ rent_form|crispy }}
        <br/>
        <input type="submit" value="{% trans "Save" %}" class="btn btn-success" />
    </form>

    <h3>{% trans 'History' %}</h3>
    {% for a in object.histories.all %}
        {{ a.created }}. {{ a.user.full_name2 }} -> {{ a.get_new_status_display }}<br/>
    {% empty %}
        {% trans 'No histories.' %}
    {% endfor %}
{% endif %}