{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load rent_extras %}

{% block content %}
    <h2>{% trans 'Rent' %}:</h2>

    <table>
        <tr>
            <td>{% trans 'Renter' %}:</td><td><a href="{{ rent.renter.get_absolute_url }}">{{ object.renter.full_name2 }}</a></td>
        </tr>
        <tr>
            <td>{% trans 'Dates' %}:</td><td>{{ object.date_from|date }} - {{ object.date_to|date }}<br/></td>
        </tr>
        <tr>
            <td>{% trans 'Status' %}:</td><td> {{ object.get_status_display }}<br/></td>
        <tr>
            <td>
                {% if not perms.rent.manage_rents %}
                {% trans 'Games' %}:
            </td><td>
                    {% if object.games.all %}
                        {% for game in object.games.all %}
                            {{ game.game_group }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    {% else %}
                        {% trans 'No games rented.' %}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>

    {% include 'rent/rent_detail_admin.html' %}

    <br/>
    {% show_rent_available_statuses rent user %}

    <h1>{% trans 'Comments' %}</h1>
    {% for comment in object.comments.all %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans 'User' %}: <a href="{{ comment.user.get_absolute_url }}">{{ comment.user.full_name2 }}</a><br/>
                {% trans 'Date' %}: {{ comment.created }}<br/>
            </div>
            <div class="panel-body">
                <p class="comment-message">{{ comment.message|linebreaks }}</p>
            </div>
        </div>
    {% endfor %}

    <h3>{% trans 'New comment' %}</h3>
    <form action="{% url 'rent:new-comment' object.pk %}" method="post">
        {% csrf_token %}
        {{ comment_form|crispy }}
        <input type="submit" value="{% trans "Send" %}" class="btn btn-success" />
    </form>

{% endblock %}