{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>{% trans 'Rent' %}:</h2>

    {% trans 'Renter' %}: <a href="{{ rent.renter.get_absolute_url }}">{{ object.renter.full_name2 }}</a><br/>
    {% trans 'Dates' %}: {{ object.date_from|date }} - {{ object.date_to|date }}<br/>
    {% trans 'Status' %}: {{ object.get_status_display }}<br/>
    {% trans 'Games' %}:
    {% if object.games.all %}
        <table class="table table-hover table-condensed">
        {% for game in object.games.all %}
            <tr>
                <td>{{ game.game_group }}</td>
                {% if perms.rent.manage_rents %}
                    {# TODO move to rent_detail_admin ? #}
                    <td>{{ game.notes }}</td>
                    <td><a class="btn btn-info" href="{% url 'inventory:gamepiece' game.pk %}">{% trans 'Inventory' %}</a></td>
                    <td><a class="btn btn-danger" href="{% url 'rent:remove-game' object.pk game.pk %}">{% trans 'Delete' %}</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% else %}
        {% trans 'No games rented.' %}
    {% endif %}

    {% include 'rent/rent_detail_admin.html' %}

    <br/>
    {% for status in available_statuses %}
        <a class="btn btn-info" href="{% url 'rent:change-status' object.pk status.0 %}">{{ status.1 }}</a>
    {% endfor %}

    <h1>{% trans 'Comments' %}</h1>
    {% for comment in object.comments.all %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans 'User' %}: <a href="{{ comment.user.get_absolute_url }}">{{ comment.user.full_name2 }}</a><br/>
                {% trans 'Date' %}: {{ comment.created }}<br/>
            </div>
            <div class="panel-body">
                <span class="comment-message">{{ comment.message|linebreaks }}</span>
            </div>
        </div>
    {% endfor %}

    <h3>{% trans 'New comment' %}</h3>
    <form action="{% url 'rent:new-comment' object.pk %}" method="post">
        {% csrf_token %}
        {{ comment_form|crispy }}
        <input type="submit" value="{% trans "Send" %}" class="btn btn-success" />
    </form>

{% endblock %}