language: python

python:
 - 3.5

services: postgresql

env:
  global:
      - DJANGO="1.11.6"
      - DJANGO_SETTINGS_MODULE="jatszohaz.settings.test"
      - PYTHONPATH="/home/travis/build/ndarville/pony-forum"
      - PIP_USE_MIRRORS=true
      - DJANGO_DB_TYPE='postgresql_psycopg2'
      - DJANGO_DB_NAME='travisdb'
      - DJANGO_DB_USER='postgres'
      - DJANGO_DB_PASSWORD=''
      - DJANGO_DB_HOST='localhost'
      - DJANGO_DB_PORT=''

install:
  - pip install -r requirements.txt
  - pip install flake8

before_script:
  - psql -c "CREATE DATABASE travisdb;" -U postgres

script:
  - sh build.sh
  - flake8 .

after_success:
  - pip freeze

notifications:
  email:
    on_success: change
    on_failure: always
