{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <h1>Games</h1>

    <a href="{% url 'inventory:new-game-with-group' %}" >Add new game with gamegroup</a><br/>
    <a href="{% url 'inventory:new-game' %}" >Add new game for existing gamegroup</a><br/>

    <ul>
        {% for game in object_list %}
            <h3>{{ game }}</h3>
            {% with inv=game.get_latest_inventory_item %}
                {% if inv %}
                    Latest inventory:<br/>
                    Date: {{ inv.created }}<br/>
                    Playable: {{ inv.playable }}<br/>
                    Missing items: {{ inv.missing_items }}<br/>
                    <a href="{% url 'inventory:edit' inv.pk %}">Edit latest inventory</a><br/>
                {% else %}
                    No inventory.<br/>
                {% endif %}
                <a href="{% url 'inventory:gamepiece' game.pk %}">Details</a><br/>
                <a href="{% url 'inventory:new' game.pk %}">Create new inventory</a><br/>
            {% endwith %}
            <hr/>
        {% empty %}
            <li>No games.</li>
        {% endfor %}
    </ul>

{% endblock %}