{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <h1>{% trans 'Gamepacks' %}</h1>

    <a href="{% url 'inventory:new-gamepack' %}" >{% trans 'Add new gamepack' %}</a><br/>

    <ul>
        {% for gamepack in object_list %}
            <h3>{{ gamepack.name }}</h3>
                {% trans 'Creator' %}: {{ gamepack.creator }}<br/>
                {% trans 'Games' %}:
                {% for game in gamepack.games.all %}
                    {{ game }},
                {% endfor %}
                <br/>
                {% trans 'Active' %}: {{ gamepack.active }}<br/>
                <a href="{% url 'inventory:edit-gamepack' gamepack.pk %}">{% trans 'Edit' %}</a><br/>
            <hr/>
        {% empty %}
            <li>{% trans 'No gamepacks.' %}</li>
        {% endfor %}
    </ul>

{% endblock %}