{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <h1>{% trans 'Games' %}</h1>

    <a href="{% url 'inventory:new-game-with-group' %}" >{% trans 'Add new game with gamegroup' %}</a><br/>
    <a href="{% url 'inventory:new-game' %}" >{% trans 'Add new game for existing gamegroup' %}</a><br/>

    <ul>
        {% for game in object_list %}
            <h3>{{ game }}</h3>
            {% with inv=game.get_latest_inventory_item %}
                {% if inv %}
                    {% trans 'Latest inventory' %}:<br/>
                    {% trans 'Date' %}: {{ inv.created }}<br/>
                    {% trans 'Playable' %}: {{ inv.playable }}<br/>
                    {% trans 'Missing items' %}: {{ inv.missing_items }}<br/>
                    <a href="{% url 'inventory:edit' inv.pk %}">{% trans 'Edit latest inventory' %}</a><br/>
                {% else %}
                    {% trans 'No inventory.' %}<br/>
                {% endif %}
                <a href="{% url 'inventory:gamepiece' game.pk %}">{% trans 'Details' %}</a><br/>
                <a href="{% url 'inventory:new' game.pk %}">{% trans 'Create new inventory' %}</a><br/>
                <a href="{% url 'inventory:edit-gamegroup' game.game_group.pk %}">{% trans 'Edit gamegroup' %}</a><br/>
                <a href="{% url 'inventory:edit-gamepiece' game.pk %}">{% trans 'Edit gamepiece' %}</a><br/>
            {% endwith %}
            <hr/>
        {% empty %}
            <li>{% trans 'No games.' %}</li>
        {% endfor %}
    </ul>

{% endblock %}