{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block content %}

    <h1>{{ game_piece }}</h1>
    <h2>{% trans 'Details' %}</h2>
    {% trans 'Owner' %}: {{ game_piece.owner }}<br/>
    {% trans 'Notes' %}: {{ game_piece.notes }}<br/>
    {% trans 'Place' %}: {{ game_piece.place }}<br/>
    {% trans 'Buying date' %}: {{ game_piece.buying_date|default:"?" }}<br/>
    {% trans 'Original price' %}: {{ game_piece.price|intcomma }} Ft<br/>
    {% trans 'Base game' %}: {{ game_piece.game_group.base_game|default:'-' }}

    <h2>{% trans 'Rent history' %}</h2>
    {% for r in rent_history %}
        {% trans 'Renter' %}: {{ r.renter }}<br/>
        {% trans 'From' %}: {{ r.date_from }}<br/>
        {% trans 'To' %}: {{ r.date_to }}<br/>
        {% trans 'Status' %}: {{ r.get_status_display }}<br/>
        {% trans 'Last rent history' %}: {{ r.histories.last.user }} - {{ r.histories.last.get_new_status_display }}
        <hr/>
    {% empty %}
        {% trans 'No one rented this game.' %}
    {% endfor %}

    <h2>{% trans 'Inventories' %}</h2>
    {% for inv in object_list %}
        <ul>
            {% trans 'Date' %}: {{ inv.created }}<br/>
            {% trans 'Playable' %}: {{ inv.playable }}<br/>
            {% trans 'Missing items' %}: {{ inv.missing_items }}<br/>
            <a href="{% url 'inventory:edit' inv.pk %}">{% trans 'Edit' %}</a><br/>
            <hr/>
        </ul>
    {% empty %}
        <li>{% trans 'No inventories.' %}</li>
    {% endfor %}
    <a href="{% url 'inventory:new' game_piece.pk %}">{% trans 'Create new inventory' %}</a><br/>

{% endblock %}