{% load i18n %}

<label class="game_container"
        {% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %}>

    <img src="{{widget.label.image.url}}" alt="" />

    <input type="{{ widget.type }}"
        name="{{ widget.name }}"
        {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}
        {% include "django/forms/widgets/attrs.html" %} />

    <span class="checkmark"></span>
    <span class="title">{{ widget.label|truncatechars:20 }}</span>

    <span data-toggle="modal"
       data-target="#modal_{{ widget.attrs.id }}">

        <span class="glyphicon glyphicon-question-sign info"
           onclick="return false"  {# Little hack. Without it when modal shows selection toggles. #}
           data-toggle="tooltip"
           data-placement="top"
           title="{{ widget.label.short_description }} - {% trans "Click for details!" %}">

        </span>
    </span>
</label>

{# Modal panel #}
<div class="modal fade" id="modal_{{ widget.attrs.id }}"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">
            {{ widget.label }}
            <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Close" %}">
                <span aria-hidden="true">&times;</span>
            </button>
        </h3>

      </div>
      <div class="modal-body">
          <p>{% trans 'Players' %}: {{ widget.label.players }}</p>
          <p>{% trans 'Playtime' %}: {{ widget.label.playtime }}</p>
          <p>{% trans 'Description' %}: {{ widget.label.description }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div>
  </div>
</div>