{% load i18n %}

{% with id=widget.attrs.id %}
    <!--<ul
            {% if id %} id="{{ id }}"{% endif %}
            {% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>-->

        {% for group, options, index in widget.optgroups %}
            {% for option in options %}
                {% include option.template_name with widget=option %}
            {% endfor %}
        {% empty %}
            <h2>{% trans 'We have no available games for this time interval, sorry.' %}</h2>
        {% endfor %}
{% endwith %}