{% extends "stats/base.html" %}
{% load i18n %}

{% block stats_content %}
    <h2>{% trans "By members" %}</h2>
    <p>
        {% blocktrans %}

            Shows how many rents were managed by the user. Managed: changed its status, added/removed games...<br/>
            Only commenting doesn't matter. Rents are excluded, where the renter is the same user.
        {% endblocktrans %}
    </p>

    <table class="table table-hover table-condensed">
        <tr>
            <th>{% trans 'Member' %}</th>
            <th>{% trans 'Count' %}</th>
        </tr>
        {% for d in rents_users %}
            <tr>
                <td>{{ d.user__last_name }} {{ d.user__first_name }}</td>
                <td>{{ d.count }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
