{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <h1>{% trans 'Profile details' %}</h1>

    <h2>{% trans 'Basic info' %}</h2>
    <table>
        <tr><td>{% trans 'Name' %}:         </td><td>{{ object.full_name2 }}</td></tr>
        <tr><td>{% trans 'Email' %}:        </td><td>{{ object.email }}</td></tr>

        {% if perms.jatszohaz.view_all %}
            <tr><td>{% trans 'Room' %}:         </td><td>{{ object.room }}</td></tr>
            <tr><td>{% trans 'Mobile' %}:       </td><td>{{ object.mobile }}</td></tr>
            <tr><td>{% trans 'First login' %}:  </td><td>{{ object.date_joined }}</td></tr>
            <tr><td>{% trans 'Last login' %}:   </td><td>{{ object.last_login}}</td></tr>
            <tr><td>{% trans 'Groups' %}:   </td><td>{{ user_groups }}</td></tr>
        {% endif %}
    </table>

    {% if token_login %}
        <br/>
        <a class="btn btn-danger btn-xs" href="{{ token_login }}">
            {% trans 'Sign in as this user.' %}
        </a>
    {% endif %}

    {% if perms.jatszohaz.leader_admin %}
        <h2>{% trans 'Groups' %}</h2>
        {% trans 'Click on the buttons to add or remove user to or from the group.' %}<br/>
        {% for group in allowed_groups %}
            <a class="btn btn-warning btn-xs" href="{% url 'toggle-user-group' object.pk group %}">
                {{ group }}
            </a>
        {% endfor %}
    {% endif %}

    {% if perms.jatszohaz.view_all %}
        <h3>{% trans 'Rents' %}</h3>
        {% if rents %}
            <table class="table">
            <tr>
                <th>{% trans "From" %}</th>
                <th>{% trans "To" %}</th>
                <th>{% trans "Status" %}</th>
                <th>&nbsp;</th>
            </tr>
            {% for rent in rents %}
                <tr>
                    <td>{{ rent.date_from|date }}</td>
                    <td>{{ rent.date_to|date }}</td>
                    <td>{{ rent.get_status_display }}</td>
                    <td><a href="{{ rent.get_absolute_url }}">{% trans 'Details' %}</a></td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            {% trans "No rents yet." %}
        {% endif %}
    {% endif %}
{% endblock %}