{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <h1>{% trans 'Users' %} ({{  object_list.count }})</h1>
    {% if object_list.is_empty %}
        {% trans 'No users.' %}
    {% else %}
         <table class="table table-responsive">
            <tr>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Email' %}</th>
                <th>{% trans 'Room' %}</th>
                <th>{% trans 'Mobile' %}</th>
                <th>{% trans 'Last login' %}</th>
            </tr>
            {% for user in object_list %}
                <tr>
                    <td><a href="{{ user.get_absolute_url }}">{{ user.full_name2 }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.room }}</td>
                    <td>{{ user.mobile }}</td>
                    <td>{{ user.last_login }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% include '_pagination.html' %}
{% endblock %}