{% load i18n %}

<label class="game_container"
       data-toggle="tooltip"
       data-placement="top"
       title="{{ game.short_description }} - {% trans "Click for details!" %}">
    <span data-toggle="modal"
       data-target="#modal_{{ game.id }}">

        <img src="{{game.image.url}}" alt="" />

        <span class="checkmark"></span>

        <span class="title">
            {{ game.name|truncatechars:18 }}
        </span>
    </span>
</label>

{# Modal panel #}
<div class="modal fade" id="modal_{{ game.id }}"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">
            {{ game.name }}
            <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Close" %}">
                <span aria-hidden="true">&times;</span>
            </button>
        </h3>

      </div>
      <div class="modal-body">
          <p>{% trans 'Players' %}: {{ game.players|default:_("data not available.") }}</p>
          <p>{% trans 'Playtime' %}: {{ game.playtime|default:_("data not available.") }}</p>
          <p>{% trans 'Description' %}: {{ game.description|default:_("data not available.") }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div>
  </div>
</div>